<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyWorkoutPal</title>
    <link rel="icon" type="image/png" href="./assets/images/posing.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> 
</head>
<body>

<!-- Nav Bar -->
  <nav class="navbar is-info p-3" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <p class="navbar-item has-text-weight-bold is-size-5" width="112" height="28" >
         MyWorkoutPal
      </p>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>
  
        <a class="navbar-item">
          Community
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Contact
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href='/signup'class="button is-light">
              <strong>Sign up</strong>
            </a>
            <a class="button is-white">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  {{{body}}}

<!-- Footer -->
  <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong> &copy; MyWorkoutPal</strong> by <a href="https://jgthms.com">May, Juan, Carlos, and Cristina</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
  </footer>

</body>
</html>